<ons-page id="second-page">
  
<div class="app">
      <h1>Camera</h1>
      <div>
          <button id="shoot-button" onclick="shoot()">写真を撮る</button> 
      </div>
          <img id="photo" height="400">   
      
  </div>

</ons-page>

<!-- <ons-page id="second-page">
  <p>
    This is the second page.
  </p>
   <input type="text" class="text-input" ng-model="model_test">
<br> 
<p>
  <ons-input modifier="underbar" ng-model="model_test" placeholder="入力が下に反映される" float></ons-input>
</p>
{{model_test}}
</ons-page> -->