#start{
  position: absolute;
  width:100vw;
  height: 100vh;
  background-color: lightblue;
}
/* ------ miya ----- */
    .content {
 min-height: calc(100vh - 70px);
}
.footer {
 height: 50px;
}
* {
 box-sizing: border-box;
}